
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/chessboard-1.0.0.min.css" />
<link rel="stylesheet" href="~/css/HistoryStyle.css">

<div id="left">
    <button class="btn btn-outline-dark bg-dark text-white padding-20px" onclick="FlipBoard()"> Obróć</button>
    <div id="myBoard" style="width: 600px"></div>
    <div id="ReviewSpace"></div>
    <div id="PlayButton"> </div>
    <div id="Sequence">
    
    </div>
</div>

<div id="right">
    <h3>Rozegrane gry</h3>
    <div id="PlaceForGames"></div>
</div>


@section Scripts{
    <script src="~/js/chess.js"></script>
    <script src="~/lib/chessboard-js/chessboard-1.0.0.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/previousGames.js"></script>
}