
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/chessboard-1.0.0.min.css" />
<link rel="stylesheet" href="~/css/HistoryStyle.css">

<div id="HistoryPlace">
<div id="HistoryBoard">
    <button class="btn btn-outline-dark bg-dark text-white padding-20px" onclick="FlipBoard()"> Obróć</button>
    <div id="myBoard" style="width: 100%"></div>
    <div id="ReviewSpace"></div>
    <div id="PlayButton"> </div>
    <div id="Sequence">
    
    </div>
    <div id="FEN">
        FEN: <br>
        <div id="fenValue">
        </div>
    </div>
   
</div>

<div id="GamesHistory">
    <h3>Rozegrane gry</h3>
    <div id="PlaceForGames"></div>
</div>

</div>

@section Scripts{
    <script src="~/js/chess.js"></script>
    <script src="~/lib/chessboard-js/chessboard-1.0.0.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/HistoryScripts.js"></script>
}