@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/chessboard-1.0.0.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/IndexStyle.css">

<div id="left">
</div>

<div id="right" class="text-white">
    <h3>
        Dostepni gracze
    </h3>
    <div id="ActivePlayerslist">

    </div>

    <div id="inviteSpace">

    </div>
</div>




@section Scripts{
    <script src="~/js/chess.js"></script>
    <script src="~/lib/chessboard-js/chessboard-1.0.0.js"></script>    
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/IndexScripts.js"></script>
}