@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/PlayComputerStyle.css" rel="stylesheet">

<div id="Board">
    @*<div id="myBoard"></div>*@
</div>

<div id="ColorPick">

    <div class="row">
        <div class="col-sm">
            <label for="level">Poziom trudności:</label>
            <select id="level">
                <option value="easy">Łatwy</option>
                <option value="medium" selected>Średni</option>
                <option value="hard">Trudny</option>
                <option value="veryHard">Bardzo trudny</option>
            </select>
        </div>
        <div class="col-sm">
            <label for="playerColor">Twój kolor:</label>
            <select id="playerColor">
                <option value="white" selected>Białe</option>
                <option value="black">Czarne</option>
            </select>
        </div>
    </div>

    <div class="row">
        <button class=" btn btn-outline-dark bg-dark text-white margin-left" onclick="PlayGame()">Zagraj</button>
    </div>
</div>





@section Scripts{
    <script src="~/js/chess.js"></script>
    <script src="~/lib/chessboard-js/chessboard-1.0.0.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/PlayComputerScripts.js"></script>
}