body {
}
#HistoryPlace {
    display: flex;
    flex-direction: row;
}
#HistoryBoard {
    color: white;
    width: 50%;
}

#GamesHistory {
    color: white;
    max-width:300px;
    padding-left: 50px;
}

#PlaceForGames {
    width: auto;
    max-height: 500px;
    color: white;
    overflow: auto;
    background-color: gray;
    border-radius: 5px;
}
.GameSpans {
    padding:7px;
}
.ReviewButtons {
    padding-left:45%;
    padding-top:20px;    
}
.PlayDiv {
    padding-left: 48%;
    padding-top: 20px;
}

#FEN {
    visibility:hidden;
}

@media only screen and (max-width: 1000px) {
   #HistoryPlace {
    flex-direction: column;
    }
    #GamesHistory {
        color: white;
        max-width: 500px;
        padding: 0;
    }

}