body {
    background: url("../img/background/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

#left {
    width: 50%;
    float: left;
    height: 75%;
    color:white;
}
#right {
    width: 50%;
    float: right;
    height: 75%;
    padding-left:15%;
}

#ActivePlayerslist {
    padding:20px;
}
#inviteSpace {
    padding:20px;
}

#HistoryShow {
    background-color:gray;
    border-radius:5px;
    color:white;
    width:100%;
    height:100%;
    overflow:auto;
    padding:15px;
}
