.setPostion {
    display: flex;
}
#PostionBoards {   
    float: left;
    margin-right: 60px;
}

#SettingsSpace {
  
    float: left;
}

.btn {
    margin-right: 5px;
}

#playBoard {
}

#gameData {
    visibility: hidden;
    color: white;
    font-weight: bold;    
    background-color:dimgrey;
    border-radius:5px;
    margin: 20px
}

#gameOptions {
    color: white;
    font-weight: bold;
    background-color: dimgrey;
    padding:10px;
    margin-bottom:20px;
    border-radius:5px;
}
input {
    margin-right: 10px;
    margin-top: 5px;
}

.margin {
    margin: 10px
}

.hidden {
    visibility: hidden;
}

#insertFen {
    width: 100%;
    border: none;
    outline: 0;
    color: white;
    background-color: dimgrey;
}


@media only screen and (max-width: 1000px) {
    .setPostion {
        flex-direction: column;
    }

    #SettingsSpace {
        padding-top:20px;
    }
    
}