.setPostion {
    display: flex;
}
.left {
    width:50%;
    height: 100%;
    float: left;   
    margin-right: 60px;
}

.right {
    width: 50%;
    float: left;
    height: 100%;
}

.btn {
    margin-right: 5px;
}

#playBoard {
    visibility: hidden;   
}

#gameData {
    visibility: hidden;
    color: white;
    font-weight: bold;    
    background-color:dimgrey;
    border-radius:5px;
    margin: 20px
}

#gameOptions {
    color: white;
    font-weight: bold;
    background-color: dimgrey;
    padding:10px;
    margin-bottom:20px;
    border-radius:5px;
}
input {
    margin-right: 10px;
    margin-top: 5px;
}

.margin {
    margin: 10px
}

.hidden {
    visibility: hidden;
}


